RewriteEngine On

# إعادة توجيه الروابط من الجذر إلى مجلد templates
RewriteRule ^privacy-policy$ templates/privacy-policy.html [L]
RewriteRule ^terms-of-service$ templates/terms-of-service.html [L]

# إعادة توجيه index.html إلى /
RewriteRule ^index\.html$ / [R=301,L]

# إزالة .html من نهاية الروابط
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

# إزالة / من نهاية الروابط
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

# تعيين الصفحة الرئيسية
DirectoryIndex index.html

# منع عرض محتويات المجلدات
Options -Indexes 